<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>Controller.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanRegistrasi</servlet-name>
        <servlet-class>Controller.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CekPassword</servlet-name>
        <servlet-class>Controller.CekPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpanRegistrasi</servlet-name>
        <url-pattern>/SimpanRegistrasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CekPassword</servlet-name>
        <url-pattern>/CekPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Dispatcher</welcome-file>
    </welcome-file-list>
</web-app>
