<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>DispatcherMahasiswa</servlet-name>
        <servlet-class>controller.DispatcherMahasiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherBeasiswa</servlet-name>
        <servlet-class>controller.DispatcherBeasiswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherPengajuan</servlet-name>
        <servlet-class>controller.DispatcherPengajuan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommonsFileUploadServlet</servlet-name>
        <servlet-class>controller.CommonsFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPengajuan</servlet-name>
        <servlet-class>controller.ControllerPengajuan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherBeasiswa</servlet-name>
        <url-pattern>/DispatcherBeasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherPengajuan</servlet-name>
        <url-pattern>/DispatcherPengajuan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherMahasiswa</servlet-name>
        <url-pattern>/DispatcherMahasiswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonsFileUploadServlet</servlet-name>
        <url-pattern>/CommonsFileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPengajuan</servlet-name>
        <url-pattern>/ControllerPengajuan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DispatcherMahasiswa</welcome-file>
    </welcome-file-list>
    
</web-app>
